@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
main {
  background-color: hsl(0, 0%, 12%);
  max-width: 600px;
  height: auto;
  padding: 30px;
  border-radius: 15px;
  margin: 70px;
}
h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 5px;
  font-weight: 600;
}
p {
  font-size: 14px;
}
h1 + p {
  color: hsl(75, 94%, 57%);
  margin-bottom: 20px;
  font-weight: 600;
}
.bio {
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.information-about-me {
  text-align: center;
  margin-bottom: 15px;
  padding: 0 30px;
}

.social-links a {
  display: block;
  padding: 15px 0;
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 15px;
  text-align: center;
  border-radius: 10px;
  transition: background-color linear 0.5s;
}
ul li a:hover {
  color: hsl(0, 0%, 20%);
  background-color: hsl(75, 94%, 57%);
}
ul li a:focus {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}
