@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
main {
  background-color: hsl(0, 0%, 12%);
  max-width: 23.75rem; /*380px*/
  height: auto;
  padding: 1.25rem; /*20px*/
  border-radius: 0.938rem; /*15px*/
  margin: 1.25rem; /*20px*/
}
h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.313rem; /*5px*/
  font-weight: 600;
}
p {
  font-size: 0.875rem; /*14px*/
}
h1 + p {
  color: hsl(75, 94%, 57%);
  margin-bottom: 1.25rem; /*20px*/
  font-weight: 600;
}
.bio {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1.875rem; /*30px*/
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem; /*20px*/
}
.image-container img {
  width: 5.5rem; /*88px*/
  height:5.5rem; /*88px*/
  border-radius: 50%;
  object-fit: cover;
}
.information-about-me {
  text-align: center;
  margin-bottom: 0.938rem; /*15px*/
  padding: 0 0.625rem; /*10px*/
}

.social-links a {
  display: block;
  padding: 0.813rem 0; /*13px*/
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 0.75rem; /*12px*/
  text-align: center;
  border-radius: 0.625rem; /*10px*/
  transition: background-color linear 0.5s;
}
ul li a:hover {
  color: hsl(0, 0%, 20%);
  background-color: hsl(75, 94%, 57%);
}
ul li a:focus {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}
@media (min-width: 37.5rem) {
  /*600px*/
  main {
    padding: 1.875rem; /*30px*/
    margin: 4.375rem; /*70px*/
  }
  .information-about-me {
    padding: 0 1.875rem; /*30px*/
  }
  .image-container img {
    width: 6.25rem; /*100px*/
    height: 6.25rem; /*100px*/
  }
  .social-links a {
    padding: 0.938rem 0; /*15px*/
    margin-bottom: 0.938rem; /*15px*/
  }
}
